<ons-row>
    <!--
                <ons-col width="480px">
                        <iframe src="https://genniux.net/app/noticias" class="frame" frameborder="0"></iframe>
                    
                </ons-col>
                -->
    <ons-col [ngStyle]="{'max-width':(colWidth + 'px')}">
        <ons-card>
            <iframe src="https://genniux.net/app/noticias" class="frame"
                [ngStyle]="{'max-width':((colWidth-24) + 'px')}" frameborder="0"></iframe>
        </ons-card>
    </ons-col>
    <ons-col [ngStyle]="{'max-width':(colWidth + 'px')}">
        <ons-card>
            <div class="barra-titulo">
                <ons-row>
                    <ons-col vertical-align="center">
                        <strong>Mis tickets</strong>
                    </ons-col>
                </ons-row>
            </div>
            <ons-list modifier="noborder">
                <ons-list-item *ngFor="let a of actividades">
                    <ons-row>
                        <ons-col width="32px">
                            <img style="width: 24px; border-radius: 50%"
                                src="{{a.sub_eje.responsable_2==''?'https://genniux.net/img/grupo.png':'https://genniux.net/php/imagenes/'+getUserImage(a.sub_eje.responsable_2).picture}}"
                                alt="{{a.sub_eje.responsable_2}}">
                        </ons-col>
                        <ons-col>
                            {{a.sub_eje.titulo}}
                        </ons-col>
                        <ons-col width="16px"></ons-col>
                        <ons-col width="72px">
                            <div style="width: 72px; border-radius: 4px" class="padding small center-al"
                                [ngClass]="status[a.sub_eje.colorNumber].bg">
                                {{a.sub_eje.colorStatus}}
                            </div>
                        </ons-col>
                        <ons-col width="16px"></ons-col>
                        <ons-col width="72px">
                            <div style="width: 72px; border-radius: 4px" class="padding small center-al"
                                [ngClass]="status[a.sub_eje.colorNumber].bg">
                                {{a.sub_eje.timing}}
                            </div>
                        </ons-col>
                        <ons-col width="16px"></ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-card>
    </ons-col>
</ons-row>
<ons-row>

    <ons-col [ngStyle]="{'min-width':(colWidth + 'px')}">
        <ons-card>
            Bitacora
            <ons-list modifier="noborder">
                <ons-list-item *ngFor="let b of bitacora">
                    <ons-row>
                        <ons-col width="32px">
                            <img style="width: 24px; height: 24px; border-radius: 50%"
                                src="{{b.wikiname==''?'https://genniux.net/img/grupo.png':'https://genniux.net/php/imagenes/'+getUserImage(b.wikiname).picture}}">
                        </ons-col>
                        <ons-col>
                            {{b.wikiname}}
                            <ons-list>
                                <ons-list-item class="small" *ngFor="let r of b.reportes">
                                    <ons-row>
                                            <ons-col>{{r[0].titulo_actividad}} - {{r[0].descripcion}}</ons-col>

                                            <ons-col width="16px"></ons-col>
                                            <ons-col width="72px">
                                                <div style="width: 72px; border-radius: 4px" class="padding small center-al"
                                                   >
                                                    {{r[0].hora}}
                                                </div>
                                            </ons-col>
                                            <ons-col width="16px"></ons-col>
                                            <ons-col width="72px">
                                                <div style="width: 72px; border-radius: 4px" class="padding small center-al"
                                                    >
                                                    {{r[0].cantidad}} {{r[0].unidad}}
                                                </div>
                                            </ons-col>
                                    </ons-row>
                                </ons-list-item>
                            </ons-list>
                        </ons-col>
                        <ons-col width="16px"></ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-card>
    </ons-col>
</ons-row>