<ons-row style="min-height: 100%">
  <ons-col width="210px" class="bg-azul">
    <p class="bg-gris-claro">
      <ons-search-input id="text" placeholder="Buscar" [(value)]="busqueda"></ons-search-input>
    </p>
    <ons-list modifier="noborder">
      <ons-list-item *ngFor="let o of options" class="bg-azul blanco tappable basic" modifier="nodivider" >
        <span>{{o.text}}</span>
      </ons-list-item>
    </ons-list>
  </ons-col>
  <ons-col width="16px"></ons-col>
  <ons-col>
    <p><span class="mid">Ultimas noticias</span></p>
  </ons-col>
</ons-row>
