#tabla.toggle-izquierdo{
    display: block; 
    height: calc(100% - 90px); 
    top: 48px; left: 232px; 
    width: calc(100% - 248px); 
    position: fixed; overflow: scroll; 
    scroll-snap-destination: 180px 24px;
}

#tabla.toggle-izquierdo-false{
    display: block; 
    height: calc(100% - 90px); 
    top: 48px; left: 0px; 
    width: calc(100% - 16px); 
    position: fixed; overflow: scroll; 
    scroll-snap-destination: 180px 24px;
    transition: .4s
}

#tool-menu.toggle-izquierdo{
    display: block;
    height: 40px;
    left: 232px; 
    top: 8px;
    position: fixed;
    width: calc(100% - 232px); 
    transition: .4s
}

#tool-menu.toggle-izquierdo-false{
    display: block;
    height: 40px;
    left: 0px; 
    top: 8px;
    position: fixed;
    width: calc(100% - 0px); 
}


.panel-derecho{
    height: 100%;
    width: 320px;
    position: fixed;
    background-color: #eee;
    right: 0px;
    z-index: 99999
}

/*
 *  STYLE 2
 */

 #scroll2{
    display: inline-block; 
    width: 180px; height: calc(100% - 108px); 
    z-index: 2;
    overflow-x: hidden; 
    overflow-y: scroll; position: fixed;
 }
 

 #scroll2::-webkit-scrollbar-track
 {
     border-radius: 0px;
     background-color: transparent;
 }
 
 #scroll2::-webkit-scrollbar
 {
     width: 0px;
     background-color: transparent;
 }
 
 #scroll2::-webkit-scrollbar-thumb
 {
     border-radius: 0px;
     background-color: transparent;
 }

 /*
 *  STYLE 3
 */

 #scroll3.toggle-izquierdo{
    display: inline-block; 
    height: 32px; 
    width: calc(100% - 263px);
    overflow-x: scroll; 
    z-index: 3;
    overflow-y: hidden; position: fixed;
 }

 #scroll3.toggle-izquierdo-false{
    display: inline-block; 
    height: 32px; 
    width: calc(100% - 31px);
    overflow-x: scroll; 
    z-index: 3;
    overflow-y: hidden; position: fixed;
 }
 
 #scroll3::-webkit-scrollbar-track
 {
     border-radius: 0px;
     background-color: transparent;
 }
 
 #scroll3::-webkit-scrollbar
 {
     height: 0px;
     background-color: transparent;
 }
 
 #scroll3::-webkit-scrollbar-thumb
 {
     border-radius: 0px;
     background-color: transparent;
 }


 .boton-redondo{
    height: 24px; 
    width: 24px; 
    display: block; 
    border-radius: 50%;
    margin-top: 8px;
 }
 .boton-redondo ons-icon{
     margin-top: 4px
 }
 #sprints-row-bottom.toggle-izquierdo{
    display: block; position: absolute; width: calc(100% - 232px); height: 40px; bottom:0; left: 232px
 }

 #sprints-row-bottom.toggle-izquierdo-false{
    display: block; position: absolute; width: calc(100% - 0px); height: 40px; bottom:0; left: 0px
 }