<div *ngIf="current.toggleIzquierdo" style="display: block; width: 224px; position: fixed; height: calc(100% - 0px); overflow-y: scroll">
  <ons-row>
    <ons-col width="208px" class="bg-azul sombreado">
      <ons-list modifier="noborder">
        <ons-list-header>Detalles Sprint</ons-list-header>
        <ons-list-item>
          <ons-row>
            <ons-col width="8px"></ons-col>
            <ons-col>
              <label for="titulo-sprint">Título</label>
              <div id="titulo-sprint" contenteditable class="padding bolder input-div"
                style="font-size: 18px; padding-top: 12px; padding-left: 0px"
                (blur)=" updateSprint('titulo',current.sprint.titulo,'id',current.sprint.id)"
                (input)="current.sprint.titulo=$event.target.textContent;" [textContent]="current.sprint.titulo">
                {{current.sprint.titulo}}
              </div>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item modifier="nodivider">
          <ons-row>
            <ons-col width="8px"></ons-col>
            <ons-col>
              <label for="inicio-sprint">Inicio de Sprint:</label><br>
              <span> {{current.sprint.fecha_inicio | date:'dd-MM-yyyy'}}</span>
              <mat-form-field>
                <input readonly
                  (dateInput)="setDate(current.sprint.fecha_inicio); updateSprint('fecha_inicio',current.sprint.fecha_inicio,'id',current.sprint.id)"
                  [(ngModel)]="current.sprint.fecha_inicio" class="input-date" style="display: none"
                  [matDatepicker]="picker1" [max]="current.sprint.fecha_fin | date:'dd-MM-yyyy'"
                  placeholder="Seleccionar fecha">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </ons-col>
            <ons-col width="8px"></ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item>
          <ons-row>
            <ons-col width="8px"></ons-col>
            <ons-col>
              <label for="fin-sprint">Final de Sprint</label><br>
              <span> {{current.sprint.fecha_fin | date:'dd-MM-yyyy'}}</span>
              <mat-form-field>
                <input readonly style="display: none"
                  (dateInput)="updateSprint('fecha_fin',current.sprint.fecha_fin,'id',current.sprint.id)"
                  [(ngModel)]="current.sprint.fecha_fin" class="input-date" [matDatepicker]="picker2"
                  [min]="current.sprint.fecha_inicio" placeholder="Seleccionar fecha">
                <mat-datepicker-toggle style="display: none" matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </ons-col>
            <ons-col width="8px"></ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-header>
          <ons-row>
            <ons-col vertical-align="center">Mis proyectos</ons-col>
            <ons-col width="8px"></ons-col>
            <ons-col (click)="prepareProyecto(); nuevoP.show()" width="12px" class="center-al mid tappable">
              <ons-icon icon="md-plus"></ons-icon>
            </ons-col>
            <ons-col width="8px"></ons-col>
          </ons-row>
        </ons-list-header>
        <ons-list-item>
          <div class="bg-gris-claro">
            <ons-search-input id="text" placeholder="" [(ngModel)]="busqueda"></ons-search-input>
          </div>
        </ons-list-item>
        <ons-list-item *ngFor="let p of proyectos" class="gris tappable basic" (click)="changeProject(p.id)"
          [ngClass]="{'bg-azul1 blanco':(p.id == nodo)}" modifier="nodivider">
          <span>{{p.titulo}}</span>
        </ons-list-item>
      </ons-list>
    </ons-col>
    <ons-col width="16px"></ons-col>
    <ons-col>


    </ons-col>
  </ons-row>
</div>
<!--div id="tool-menu">
  <ons-row style="height: 40px">
    <ons-col width="8px"></ons-col>
    <ons-col vertical-align="center" width="72px">
      <label (click)="insertarmenu.show(insertarboton)" #insertarboton class="tappable">Insertar</label>
    </ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col vertical-align="center" width="72px">
      <label class="tappable">Editar</label>
    </ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col vertical-align="center" width="72px">
      <label class="tappable">Proyecto</label>
    </ons-col>
    <ons-col></ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col vertical-align="center" width="24px">
      <ons-icon (click)="zoom(true)" icon="md-zoom-in" class="tappable mid"></ons-icon>
    </ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col (click)="zoom(false)" vertical-align="center" width="24px">
      <ons-icon icon="md-zoom-out" class="tappable mid"></ons-icon>
    </ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col vertical-align="center" width="24px">
      <ons-icon icon="md-format-color-fill" class="tappable mid"></ons-icon>
    </ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col vertical-align="center" width="24px">
      <ons-icon icon="md-accounts-add" class="tappable mid"></ons-icon>
    </ons-col>
    <ons-col width="32px"></ons-col>
  </ons-row>
</div-->
<div id="tool-menu" class="bg-blanco" [ngClass]="{'toggle-izquierdo':current.toggleIzquierdo,'toggle-izquierdo-false':!current.toggleIzquierdo}">
  <ons-row style="height: 100%">
    <ons-col width="4px"></ons-col>
    <ons-col vertical-align="top" (click)="current.toggleIzquierdo?current.toggleIzquierdo=false:current.toggleIzquierdo=true" class="tappable" width="16px">
        <ons-icon *ngIf="!current.toggleIzquierdo" icon="md-caret-right-circle"></ons-icon>
        <ons-icon *ngIf="current.toggleIzquierdo" icon="md-caret-left-circle"></ons-icon>
      </ons-col>
    <ons-col vertical-align="top">
      <div>
          <strong>Proyecto: </strong><span>{{current.sprint.tituloProyecto}}</span>
      </div>
    </ons-col>
  </ons-row>
</div>
<div (scroll)="scrollTabla($event)" id="tabla" [ngClass]="{'toggle-izquierdo':current.toggleIzquierdo,'toggle-izquierdo-false':!current.toggleIzquierdo}">
  <div style="height: 22px; width: 170px; z-index: 4; display:inline-block; position: fixed;"
    class="bg-blanco borde-tabla padding">
    <ons-row>
      <ons-col><strong>Actividad</strong></ons-col>
      <ons-col (click)="nuevoSep.show(); insertarmenu.hide()" width="10px" class="tappable" vertical-align="top">
        <ons-icon style="font-size: 14px; margin-top: 6px" icon="md-plus"></ons-icon>
      </ons-col>
    </ons-row>
  </div>
  <div id="scroll3" class="bg-blanco sombreado" [ngClass]="{'toggle-izquierdo':current.toggleIzquierdo,'toggle-izquierdo-false':!current.toggleIzquierdo}" style="font-weight:bold">
    <div style="display: inline-block;" [ngStyle]="{'width': (530+(dias.length*cellWidth))+'px'}">
      <ons-row>
        <ons-col width="180px" class="borde-tabla padding">
          Actividad
        </ons-col>
        <ons-col width="120px" class="borde-tabla padding">
          Responsable
        </ons-col>
        <ons-col id="diaH-{{d}}" width="{{cellWidth}}px" class="borde-tabla padding center-al" *ngFor="let d of dias">
          {{d.dia}}
        </ons-col>
      </ons-row>
    </div>
  </div>
  <div id="scroll2" class="bg-blanco sombreado">
    <ons-row>
      <ons-col width="180px" class="borde-tabla padding">
        Actividades
      </ons-col>
    </ons-row>
    <div *ngFor="let separador of actividades">
      <ons-row (contextmenu)="opcionesElemento.show($event); onRightClick($event,separador,0)"
        class="small bg-azul1 blanco">
        <ons-col>
          <div contenteditable class="blanco input-div" (blur)=" update('titulo',separador.titulo,'id',separador.id)"
            (input)="separador.titulo=$event.target.textContent;" [textContent]="separador.titulo">
            {{separador.titulo}}
          </div>
        </ons-col>
        <ons-col (click)="addActividad(separador)" width="16px" class="tappable" vertical-align="top">
          <ons-icon style="font-size: 14px; margin-top: 6px" icon="md-plus"></ons-icon>
        </ons-col>
      </ons-row>
      <ons-row (contextmenu)="opcionesElemento.show($event); a.padre=separador.id; onRightClick($event,a,1)"
        *ngFor="let a of separador.actividades" class="small">
        <ons-col width="180px" class="borde-tabla">
          <ons-row>
            <ons-col width="8px"></ons-col>
            <ons-col>
              <div (dblclick)="cargarPanelDerecho(a)" contenteditable class="input-div"
                (blur)=" update('titulo',a.titulo,'id',a.id)" (input)="a.titulo=$event.target.textContent;"
                [textContent]="a.titulo">
                {{a.titulo}}
              </div>
            </ons-col>
          </ons-row>
        </ons-col>
      </ons-row>
    </div>
  </div>
  <div style="display: inline-block;" [ngStyle]="{'width': (530+(dias.length*cellWidth))+'px'}">
    <ons-row>
      <ons-col width="180px" class="borde-tabla padding">

      </ons-col>
      <ons-col width="120px" class="borde-tabla padding">
        Responsable
      </ons-col>
      <ons-col width="{{cellWidth}}px" class="borde-tabla padding center-al" *ngFor="let d of dias">
        {{d.dia}}
      </ons-col>
    </ons-row>
    <div *ngFor="let separador of actividades">
      <ons-row class="small bg-azul1 blanco">
        <ons-col width="180px">
          <div style="width: calc(100% - 24px)" contenteditable class="blanco input-div"
            [textContent]="separador.titulo">
            {{separador.titulo}}
          </div>
        </ons-col>
        <ons-col width="240px" class=" padding">

        </ons-col>
        <ons-col width="120px" class=" padding">

        </ons-col>
        <ons-col width="{{cellWidth}}px" class="" [ngClass]="{'borde-tabla-sel':(a==selectedCel.r&&d==selectedCel.c)}"
          *ngFor="let d of dias">

        </ons-col>
      </ons-row>
      <ons-row *ngFor="let a of separador.actividades" class="small">
        <ons-col width="180px" class="borde-tabla">
          <ons-row>
            <ons-col width="8px"></ons-col>
            <ons-col>
              <div contenteditable class="input-div" [textContent]="a.titulo">
                {{a.titulo}}
              </div>
            </ons-col>
          </ons-row>
        </ons-col>
        <ons-col width="120px" class="borde-tabla">
          <div>
            <img src="https://genniux.net/php/imagenes/alexrojas.png"
              style="height: 20px; width: 20px; border-radius: 50%; display: inline-block" alt="">
            <select (change)="updateResponsable(a,a.responsable_2,2)"
              style="max-height: 20px; max-width: calc(100% - 20px); border: none; display: inline;"
              [(ngModel)]="a.responsable_2">
              <option *ngFor="let u of users" value="{{u.wikiname}}">{{u.wikiname}}</option>
            </select>
          </div>
        </ons-col>
        <ons-col id="item-{{a.id}}-{{d}}" (dblclick)="statuspicker.show(getElem(a,d))" (click)="selectedCel={r:a,c:d}"
          width="{{cellWidth}}px"
          class="borde-tabla {{a.fecha_fin==('2019-08-'+d.dia)?status[a.colorNumber].bg:'bg-blanco negro'}}" [ngClass]="{
                'borde-tabla-sel':(a==selectedCel.r&&d==selectedCel.c)
              }" *ngFor="let d of dias">
        </ons-col>
      </ons-row>
    </div>
  </div>
</div>
<div id="sprints-row-bottom" [ngClass]="{'toggle-izquierdo':current.toggleIzquierdo,'toggle-izquierdo-false':!current.toggleIzquierdo}">
  <ons-row class="bg-gris-claro">
    <ons-col class="borde-tabla padding" vertical-align="center" width="64px">
      Sprints
    </ons-col>
    <ons-col title="Agregar nuevo sprint" class="padding borde-tabla tappable" (click)="addSprint()"
      vertical-align="center" width="20px">
      <ons-icon icon="md-plus"></ons-icon>
    </ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col width="calc(100% - 120px)">
      <!--
          <div style="height: 40px; width: 100%; overflow-x: scroll; overflow-y: hidden; white-space: nowrap;" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let s of sprints" cdkDrag class="borde-tabla padding tappable"
            [ngClass]="{'sombreado bolder':s.id==current.sprint.id}"
            style="display: inline-block; padding: 4px 8px; ">{{s.titulo}}</div>
          </div>
        -->
      <div style="height: 40px; width: 100%; overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
        <div cdkDropList [cdkDropListData]="sprints" (cdkDropListDropped)="drop($event)"
          class="borde-tabla padding tappable" [ngClass]="{'sombreado bolder':s.id==current.sprint.id}"
          *ngFor="let s of sprints; let i = index" style="display: inline-block; padding: 4px 8px; ">
          <div [cdkDragData]="s" cdkDrag>
            <ons-icon icon="md-plus"></ons-icon>
            <span (click)="current.sprint=s; getSprintActivities(s.id)">{{s.titulo}}</span>
          </div>
        </div>

      </div>
    </ons-col>
    <ons-col width="8px"></ons-col>
  </ons-row>
</div>

<div *ngIf="toggleDerecho" class="panel-derecho sombreado">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button (click)="toggleDerecho=false; " class="negro">
          <ons-icon icon="md-close"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="right">

      </div>
    </ons-toolbar>
    <div class="content">
      <ons-row style="width: 312px; position: fixed; height: 48px" class="bg-white-smoke border-bottom">
        <ons-col class="tappable gris" [ngClass]="{'negro':(t.index==acarousel.getActiveIndex())}"
          (click)="acarousel.setActiveIndex(t.index)" *ngFor="let t of tabs;" vertical-align="center">
          <div class="center-al">
            <i style="display:block" class="bigIcon {{t.icon}}"></i>
          </div>
        </ons-col>
      </ons-row>
      <ons-carousel #acarousel style="height: calc(100% - 48px);  margin-top: 48px;" auto-scroll overscrollable>
        <ons-carousel-item>
          <ons-card style="padding-top: 0px;max-height: calc(100vh - 150px);min-height:calc(100vh - 150px);">
            <ons-row>
              <ons-col>

                <ons-row>
                  <ons-col>
                    <div style="    overflow-y: auto;
                                        max-height: calc(100vh - 120px);">
                      <div style="min-height: 10px;"></div>
                      <ons-row>
                        <ons-col>
                          <strong style="font-weight: bold;    font-size: 16px;">

                            {{selected2.titulo}}
                          </strong>

                        </ons-col>
                      </ons-row>
                      <div style="min-height: 15px;"></div>

                      <ons-row>
                        <ons-col>
                          <strong class="bigInfo">Descripcion: </strong>
                          <strong class="bigInfo" style="font-weight: 500;">

                            {{selected2.descripcion}}
                          </strong>

                        </ons-col>
                      </ons-row>
                      <div style="min-height: 10px;"></div>
                      <ons-row>
                        <ons-col>
                          <strong class="bigInfo">Qué sigue: </strong>
                          <strong class="bigInfo" style="font-weight: 500;">

                            {{selected2.next_step}}
                          </strong>

                        </ons-col>
                      </ons-row>
                      <div style="min-height: 10px;"></div>

                      <ons-row>
                        <ons-col>
                          <strong class="bigInfo">Link: </strong>
                          <a *ngIf="selected2.link!==''" target="_blank" href="{{selected2.link}}"
                            class="smallInfo steel-blue">Enlace</a>

                        </ons-col>
                      </ons-row>
                      <div style="min-height: 5px;"></div>

                      <ons-row *ngIf="selected2.eje=='Ticket'">
                        <ons-col>
                          <strong class="bigInfo">Area: </strong>
                          {{selected2.padre_titulo}}

                        </ons-col>
                      </ons-row>
                      <div style="min-height: 15px;"></div>


                      <ons-row class="dark-slate-gray padding round hoverable example" style="background: #eef2f9;">

                        <ons-col class="center-al">
                        </ons-col>
                        <ons-col width="77px" class="center-al">
                          <label
                            class="estatus-{{selected2.colorStatus}} label-round small">{{selected2.colorStatus}}</label>
                        </ons-col>
                        <ons-col width="77px" class="center-al">
                          <label class="prior-{{selected2.prioridad}} label-round small">{{selected2.prioridad}}</label>
                        </ons-col>
                        <ons-col width="77px" class="center-al">
                          <label class="bg-{{selected2.timing}} label-round small">{{selected2.timing}}</label>
                        </ons-col>
                        <ons-col class="center-al">
                        </ons-col>
                      </ons-row>
                      <div style="min-height: 10px;background: #eef2f9;"></div>


                      <section class="bg-white" style="background: #eef2f9;">
                        <ons-row>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <strong class="dark-slate-gray smallInfo">Reporter</strong>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <strong class="dark-slate-gray smallInfo">Captain</strong>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <strong class="dark-slate-gray smallInfo">Runner</strong>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                        </ons-row>
                        <ons-row>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <img class="small" style="height: 24px; width:24px; border-radius: 50%"
                              src="https://genniux.net/php/imagenes/{{getUserImage(selected2.encargado_ahora).picture}}" />
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <img class="small" style="height: 24px; width:24px; border-radius: 50%"
                              src="https://genniux.net/php/imagenes/{{getUserImage(selected2.responsable_1).picture}}" />
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <img class="small" style="height: 24px; width:24px; border-radius: 50%"
                              src="https://genniux.net/php/imagenes/{{getUserImage(selected2.responsable_2).picture}}" />
                          </ons-col>
                        </ons-row>
                      </section>
                      <div style="min-height: 10px; background: #eef2f9;"></div>

                      <section class="bg-white" style="background: #eef2f9;">
                        <ons-row>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <strong class="dark-slate-gray smallInfo">Creado</strong>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <strong class="dark-slate-gray smallInfo">Estimado</strong>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <strong class="dark-slate-gray smallInfo">Finalizado</strong>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                        </ons-row>
                        <ons-row>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <span class="small">{{selected2.fecha_inicio}}</span>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <span class="small">{{selected2.fecha_fin}}</span>
                          </ons-col>
                          <ons-col width="8px"></ons-col>
                          <ons-col class="center-al">
                            <span class="small"
                              *ngIf="selected2.fecha_real != '0000-00-00'">{{selected2.fecha_real}}</span>
                          </ons-col>
                        </ons-row>
                      </section>

                      <div style="min-height: 25px; background: #eef2f9;    border-radius: 0px 0px 10px 10px;"></div>


                    </div>


                  </ons-col>

                </ons-row>
              </ons-col>

            </ons-row>
          </ons-card>
        </ons-carousel-item>
        <ons-carousel-item>
          <ons-list>
            <ons-list-item *ngFor="let s of selected2.specs">
                <ons-row>
                  <ons-col width="16px">
                    <input type="checkbox" name="" id="">
                  </ons-col>
                  <ons-col width="8px"></ons-col>
                    <ons-col>{{s.descripcion}}</ons-col>
                </ons-row>
            </ons-list-item>
          </ons-list>
          <ons-bottom-toolbar>
            <ons-row>
              <ons-col>
                <input [(ngModel)]="newSpec" style="margin-top: 4px" type="text" class="input-div" placeholder="Agregar spec">
              </ons-col>
              <ons-col width="8px"></ons-col>
              <ons-col width="24px">
                <div class="bg-gris2 center-al boton-redondo">
                  <ons-icon icon="md-mic"></ons-icon>
                </div>
              </ons-col>
              <ons-col width="8px"></ons-col>
              <ons-col class="tappable" (click)="addSpec()" width="24px">
                <div class="bg-gris2 center-al boton-redondo">
                  <ons-icon icon="md-plus"></ons-icon>
                </div>
              </ons-col>
              <ons-col width="8px"></ons-col>
            </ons-row>
          </ons-bottom-toolbar>
        </ons-carousel-item>
        <ons-carousel-item>
          Comments
          <ons-bottom-toolbar>
            Agregar commentario
          </ons-bottom-toolbar>
        </ons-carousel-item>
        <ons-carousel-item>
          Resources
        </ons-carousel-item>
        <ons-carousel-item>
          Files
        </ons-carousel-item>
        <ons-carousel-item>
          Bitacora
        </ons-carousel-item>
      </ons-carousel>
    </div>
    <div class="background"></div>

  </ons-page>
</div>

<ons-alert-dialog modifier="material" #nuevoSep cancelable>
  <div class="alert-dialog-title">
    <strong>Agregar separador</strong>
  </div>
  <div class="alert-dialog-content">
    <ons-input placeholder="Escribe el nombre del separador" modifier="material" [(value)]="nuevoSeparador.titulo">
    </ons-input>
  </div>
  <div class="alert-dialog-footer">
    <ons-alert-dialog-button (click)="nuevoSep.hide(); addSeparador()">OK</ons-alert-dialog-button>
  </div>
</ons-alert-dialog>

<ons-alert-dialog modifier="material" #nuevoP cancelable>
  <div class="alert-dialog-title">
    <strong>Crear proyecto</strong>
  </div>
  <div class="alert-dialog-content">
    <ons-input placeholder="Escribe el nombre del proyecto" modifier="material" [(value)]="nuevoProyecto.nombre">
    </ons-input>
  </div>
  <div class="alert-dialog-footer">
    <ons-alert-dialog-button (click)="nuevoP.hide(); addProyecto()">OK</ons-alert-dialog-button>
  </div>
</ons-alert-dialog>

<ons-popover modifier="material" direction="up down" cancelable #insertarmenu (prehide)="onPreHide($event)">
  <ons-list modifier="material">
    <ons-list-item (click)="nuevoSep.show(); insertarmenu.hide()" tappable>
      Insertar <strong style="margin-left: 4px"> separador</strong>
    </ons-list-item>
    <ons-list-item (click)="addSprint()" tappable>
      Insertar <strong style="margin-left: 4px"> Sprint</strong>
    </ons-list-item>
    <!--ons-list-item [ngClass]="{'gris':(selectedCel<0)}" tappable>
      Insertar <strong style="margin-left: 4px"> actividad</strong>
    </ons-list-item-->
  </ons-list>
</ons-popover>
<ons-popover modifier="material" direction="up down" cancelable #opcionesElemento (prehide)="onPreHide($event)">
  <ons-list modifier="material">
    <ons-list-item (click)="remove(); opcionesElemento.hide()" tappable>
      Eliminar
    </ons-list-item>
  </ons-list>
</ons-popover>
<ons-popover modifier="material" direction="up down" cancelable #statuspicker (prehide)="onPreHide($event)">
  <ons-list modifier="material">
    <ons-list-item class="bg-gris-claro">
      <ons-row>
        <ons-col></ons-col>
        <ons-col (click)="selectedCel.r.estatus=c.status;
        selectedCel.r.colorNumber=c.colorNumber;
        selectedCel.r.colorStatus=c.colorStatus; 
        selectedCel.r.fecha_fin=('2019-08-'+selectedCel.c.dia); 
        update('estatus',selectedCel.r.estatus,'id',selectedCel.r.id);
        update('fecha_fin','2019-08-'+selectedCel.c.dia,'id',selectedCel.r.id);
        statuspicker.hide()" width="32px" class="center-al tappable tall padding" *ngFor="let c of status">
          <ons-icon [ngClass]="c.c" icon="ion-ios-radio-button-on"></ons-icon>
        </ons-col>
        <ons-col></ons-col>
      </ons-row>
    </ons-list-item>
    <ons-list-item>
      <label class="azul padding" for="">Selecciona un color</label>
    </ons-list-item>
  </ons-list>
</ons-popover>