<ons-page>

    <!--
  <mat-toolbar style="position: fixed; z-index: 9;" class="bg-blanco">
  <ons-row>
    <ons-col width="8px"></ons-col>
    <ons-col routerLink="/" routerLinkActive="active" class="tappable" width="160px">
      <img src="https://genniux.net/app/auth/img/genniux.png" style="max-height: 40px; position: absolute; top: 8px" alt="" srcset="">
    </ons-col>
    <ons-col></ons-col>
    <ons-col width="56px">
      <ons-toolbar-button class="gris" routerLink="/projects" routerLinkActive="active">
        <ons-icon icon="ion-code-working"></ons-icon>
      </ons-toolbar-button>
    </ons-col>
    <ons-col width="8px"></ons-col>
    <ons-col width="56px">
        <ons-toolbar-button routerLink="/inicio" class="gris">
          <ons-icon icon="home"></ons-icon>
        </ons-toolbar-button>
      </ons-col>
      <ons-col width="56px">
      <ons-toolbar-button class="gris">
        <ons-icon icon="ion-person-stalker"></ons-icon>
      </ons-toolbar-button>
    </ons-col>
  </ons-row>
</mat-toolbar>

    -->
<div style="display: block; height: 0px"></div>
<router-outlet style="height: calc(100% - 64px);"></router-outlet>
</ons-page>
