/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Istok+Web');

*{
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Istok Web', sans-serif;
}
 
.bigIcon {
    font-size: 24px;
}

.minInfo {
    font-size: 10px;
}

.bolder{
    font-weight: 900
}

.padding{
    padding: 4px
}

.tall{
    font-size: 24px;
}
.mid{
    font-size: 18px;
}
.small{
    font-size: 12px;
}
.basic{
    font-size: 14px;
}
.center-al{
    text-align: center
}
.underline{
    text-decoration: underline;
}
.tappable{
    cursor: pointer;
}
.tappable:active{
    opacity: .48;
}
.borde-tabla{
    border-top: solid 1px rgba(210, 210, 210,.24);
    border-bottom: solid 1px rgba(210, 210, 210,.24);
}

.borde-tabla-sel{
    border: solid 1px rgb(22, 7, 5);
}
.sombreado{
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}
.input-date{
    display: inline-block;
    border: 1px solid #cccccc;
	font-size: 14px;
	color: #484848;
	padding: 3px 8px;
	line-height: 14px;
	border-radius: 8px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: calc(100% - 64px)
}

.input-div{
    font-size: 14px;
    color: #484848;
    padding: 6px 8px;
    width: calc(100% - 16px); 
    display: block; 
    min-height: 18px; 
    border: none;
    height: auto;
    line-height: 14px;
}

.page__background{
    background-color: white
}

/*  colores  */

.gris{
    color: gray
}


.bg-gris{
    background-color: gray
}
.bg-gris-claro{
    background-color: #E8E8E8
}


.blanco{
    color: white
}


.bg-blanco{
    background-color: white
}
.negro{
    color: black
}
.azul{
    color: #19314D;
}

.bg-azul{
    background-color: #19314D;
}
.bg-rojo{
    background-color: #E03043;
}
.bg-azul1{
    background-color: #000;
} 

.gris2, .a-e-gris {
    color:rgba(204, 204, 204,.24);
}
.rojo, .a-a-rojo{
    color: #E03043;
}
.amarillo, .a-d-amarillo{
    color: #EAB643;
}
.verde, .a-c-verde{
    color: #00b673;
}
.azul2, .a-b-azul{
    color: #08ACDE;
}
.azul1{
    color: #1F5C99;
} 
.morado{
    color: #B39DDB
}

.naranja{
    color: #FFB74D
}

.bg-gris-claro {
    background-color: rgba(204, 204, 204,.14);
}

.bg-gris2, .a-e-gris {
    background-color: rgba(204, 204, 204,.64);
}
.bg-rojo, .a-a-rojo{
    background-color: #E03043;
}
.bg-amarillo, .a-d-amarillo{
    background-color: #EAB643;
}
.bg-verde, .a-c-verde{
    background-color: #00b673;
}
.bg-azul2, .a-b-azul{
    background-color: #08ACDE;
}
.bg-morado{
    background-color: #B39DDB
}
.bg-naranja{
    background-color: #FFB74D
}